<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="story-container">
        <div class="story-title">
          <strong>Story: </strong> {{story.title}}
          <fa-icon [icon]="faEyeSlash" class="float-right" *ngIf="tasksVisible" (click)="toggleStoryVisiblity()"
            title="Hide Tasks"></fa-icon>
          <fa-icon [icon]="faEye" class="float-right" *ngIf="!tasksVisible" (click)="toggleStoryVisiblity()"
            title="Show Tasks"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row bring-up" *ngIf="tasksVisible">
    <div class="col-md-3 eq-height">
      <div class="drag-container">
        <div class="list-heading text-center">
          <div class="status-heading">To Do&nbsp;&nbsp;<fa-icon [icon]="faPlus" class="clickable" (click)="openModal()"></fa-icon></div>
          <div cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="story.tasks.todo"
            [cdkDropListConnectedTo]="[progressList, doneList, blockedList]" class="item-list"
            (cdkDropListDropped)="itemDropped($event)" [class.drag-notify]="dragging">
            <div class="item-box" (cdkDragStarted)="dragging = true;" (cdkDragEnded)="dragging = false"
              *ngFor="let item of story.tasks.todo" (click)="navigateToItem(item)"
              [ngClass]="getStatusClass(item.status)" cdkDrag>
              <div class="row">
                <div class="col-md-12">
                  <strong>{{item.title}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>{{item.description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="badge" [ngClass]="getPriorityClass(item.priority)">{{getPriorityTag(item.priority)}}</div>
                </div>
                <div class="col-md-6 float-right">
                  <div class="task-order">
                    <div class="badge badge-light badge-text" title="Task Order">
                      {{item.order}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 eq-height">
      <div class="drag-container">
        <div class="list-heading text-center">
          <div class="status-heading">In Progress</div>
          <div cdkDropList id="inProgress" #progressList="cdkDropList" [cdkDropListData]="story.tasks.inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList, blockedList]" class="item-list"
            (cdkDropListDropped)="itemDropped($event)" [class.drag-notify]="dragging">
            <div class="item-box" (cdkDragStarted)="dragging = true;" (cdkDragEnded)="dragging = false"
              *ngFor="let item of story.tasks.inProgress" (click)="navigateToItem(item)"
              [ngClass]="getStatusClass(item.status)" cdkDrag>
              <div class="row">
                <div class="col-md-12">
                  <strong>{{item.title}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>{{item.description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="badge" [ngClass]="getPriorityClass(item.priority)">{{getPriorityTag(item.priority)}}</div>
                </div>
                <div class="col-md-6 float-right">
                  <div class="task-order">
                    <div class="badge badge-light badge-text" title="Task Order">
                      {{item.order}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 eq-height">
      <div class="drag-container">
        <div class="list-heading text-center">
          <div class="status-heading">Done</div>
          <div cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="story.tasks.done"
            [cdkDropListConnectedTo]="[todoList, progressList, blockedList]" class="item-list"
            (cdkDropListDropped)="itemDropped($event)" [class.drag-notify]="dragging">
            <div class="item-box" (cdkDragStarted)="dragging = true;" (cdkDragEnded)="dragging = false"
              *ngFor="let item of story.tasks.done" (click)="navigateToItem(item)"
              [ngClass]="getStatusClass(item.status)" cdkDrag>
              <div class="row">
                <div class="col-md-12">
                  <strong>{{item.title}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>{{item.description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="badge" [ngClass]="getPriorityClass(item.priority)">{{getPriorityTag(item.priority)}}</div>
                </div>
                <div class="col-md-6 float-right">
                  <div class="task-order">
                    <div class="badge badge-light badge-text" title="Task Order">
                      {{item.order}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 eq-height">
      <div class="drag-container">
        <div class="list-heading text-center">
          <div class="status-heading">Blocked</div>
          <div cdkDropList id="blocked" #blockedList="cdkDropList" [cdkDropListData]="story.tasks.blocked"
            [cdkDropListConnectedTo]="[todoList, progressList, doneList]" class="item-list"
            (cdkDropListDropped)="itemDropped($event)" [class.drag-notify]="dragging">
            <div class="item-box" (cdkDragStarted)="dragging = true;" (cdkDragEnded)="dragging = false"
              *ngFor="let item of story.tasks.blocked" (click)="navigateToItem(item)"
              [ngClass]="getStatusClass(item.status)" cdkDrag>
              <div class="row">
                <div class="col-md-12">
                  <strong>{{item.title}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>{{item.description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="badge" [ngClass]="getPriorityClass(item.priority)">{{getPriorityTag(item.priority)}}</div>
                </div>
                <div class="col-md-6 float-right">
                  <div class="task-order">
                    <div class="badge badge-light badge-text" title="Task Order">
                      {{item.order}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seperator"></div>
</div>