<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="story-container">
        <div class="story-title">
          <strong>Story: </strong> {{story.title}}
          <fa-icon [icon]="faEyeSlash" *ngIf="tasksVisible" (click)="toggleStoryVisiblity()" title="Hide Tasks"></fa-icon>
          <fa-icon [icon]="faEye" *ngIf="!tasksVisible" (click)="toggleStoryVisiblity()" title="Show Tasks"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="tasksVisible">
    <div class="col-md-4 eq-height">
      <div class="drag-container">
        <hr class="seperator" />
        <div class="list-heading text-center">
          To Do
          <div cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="story.tasks.todo"
            [cdkDropListConnectedTo]="[progressList, doneList]" class="item-list"
            (cdkDropListDropped)="itemDropped($event)" (cdkDropListEntered)="dropListEntered($event)"
            (cdkDropListExited)="dropListExited($event)">
            <!-- <div class="tasks-container" *ngFor="let task of story.tasks.todo">
              <app-board-task cdkDrag [task]="task"></app-board-task>
            </div> -->
            <div class="item-box" *ngFor="let item of story.tasks.todo" cdkDrag>
                <strong>{{item.title}}</strong>
                <p>{{item.description}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 eq-height">
      <div class="drag-container">
        <hr class="seperator" />
        <div class="list-heading text-center">
          In Progress
          <div cdkDropList id="progress" #progressList="cdkDropList" [cdkDropListData]="story.tasks.inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList]" class="item-list" (cdkDropListDropped)="itemDropped($event)"
            (cdkDropListEntered)="dropListEntered($event)" (cdkDropListExited)="dropListExited($event)">
            <div class="item-box" *ngFor="let item of story.tasks.inProgress" cdkDrag>
                <strong>{{item.title}}</strong>
                <p>{{item.description}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 eq-height">
      <div class="drag-container">
        <hr class="seperator" />
        <div class="list-heading text-center">
          Done
          <div cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="story.tasks.done"
            [cdkDropListConnectedTo]="[todoList, progressList]" class="item-list"
            (cdkDropListDropped)="itemDropped($event)" (cdkDropListEntered)="dropListEntered($event)"
            (cdkDropListExited)="dropListExited($event)">
            <div class="item-box" *ngFor="let item of story.tasks.done" cdkDrag>
                <strong>{{item.title}}</strong>
                <p>{{item.description}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>