.section-heading {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .drag-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: var(--background-default);;
    padding: 15px;
    border-radius: 5px;
  }
  
  .story-container {
    width: 100%;
    height: 40px;
    max-width: 100%;
    margin: 4px 5px;
    display: flex;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .story-title {
    margin: 5px;
  }
  
  .fa-eye, .fa-eye-slash {
    margin-top: 4px;
  }
  
  .fa-eye, .fa-eye-slash:hover {
    cursor: pointer;
  }
  
  .collapse.show {
    display: flex;
  }
  
  .dragged {
    background-color: #dae1e8;
  }
  
  .eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  
  .item-list {
    height: 100%;
    min-height: 60px;
    border-radius: 4px;
    display: block;
  }
  
  .drag-notify {
    background: #dcddde;
  }

  .status-heading{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }
  
  .item-box {
    padding: 4px 5px;
    margin-bottom: 10px;
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: left;
    cursor: move;
    background: var(--card-default);
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    cursor: move;
    cursor: grab;
    
  }
  
  .item-box:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .item-box:hover {
    transform: scale(1.03);
  }
  
  .container-fluid {
    background-color: var(--background-default);;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .seperator {
    height: 20px;
    background: var(--theme-main)
  }

  .border-purple {
    border-bottom: 6px solid #aa62e3;
  }

  .border-orange {
    border-bottom: 6px solid #eec300;
  }

  .border-red {
    border-bottom: 6px solid #e8384f;
  }

  .border-green {
    border-bottom: 6px solid #a4cf30;
  }

  .badge {
    width: fit-content;
    color: white;
  }

  .badge-green {
    background-color: #a4cf30;;
  }

  .badge-orange {
    background-color: #eec300;;
  }

  .badge-red {
    background-color: #e8384f;;
  }

  .badge-purple {
    background-color: #aa62e3;;
  }

  .bring-up {
    margin-top: -15px;
  }

  .list-heading {
    height: 100%
  }

  .task-order {
    text-align: right;
  }

  .badge-text {
    color: black;
  }

  .order-number {
    background: lightgrey;
    border-radius: 80%;
  }

  .clickable:hover {
    cursor: pointer;
    opacity: 0.8;
}