.container-fluid {
    background-color: var(--background-default);
}

.managR-card {
    background-color: var(--theme-main);;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    margin-top: 50px;
}

.center {
    align-content: center;
    align-items: center;
    text-align: center;
}

.pt {
    padding-top: 20px;
}