.managR-card {
    background-color: white;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.managR-card:hover {
    cursor: pointer;
}

.title-text {
    font-size: large;
    font-weight: bold;
}

.badge-green {
    background-color: #a4cf30;;
}

.badge-orange {
    background-color: #eec300;;
}

.description {
    min-height: 50px;
}

.badge-red {
    background-color: #e8384f;;
}

.badge-purple {
    background-color: #aa62e3;;
}

.center {
    align-content: center;
    align-items: center;
    text-align: center;
}