/* You can add global styles to this file, and also import other style files */

:root {
    /* Colours */
    --managR-yellow: #F6E785;
    --managR-pink: #DC95DD;
    --managR-red: #e8384f;
    --managR-purple: #aa62e3;
    --managR-orange: #eec300;
    --managR-green: #a4cf30;
    --managR-blue: #b2fefa;
    --managR-lightext: rgb(224, 224, 224);
}

.cdkDrag {
    display: inline-block;
}

.modal {
    background: rgba(0,0,0,0.6);
}

.error-text {
    padding-top: 2px;
    color: red;
}